
@media screen and (max-width:480px){

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    /* background-image: url(/img/paper-753508_1280.jpg); */
    /* padding: 1em;
    */
    width: 100vw;
    background-position: center;
    font-family:  Roboto;
}

nav{
    display: flex;
    /* padding: 10px;
    padding-left: 2.5rem;
    gap: 40em; */
    height: 90px;
}

.logo img{
    height: 100%;
    width:100%;
}

.profile img{
    height: 350px;
    border-radius: 20% 2%;
    background-color: #FF6C01;
    margin-left: 5rem;
    margin-top: 3rem;
}

h1{
    text-align: left;   
    font-size: 40px;
    color: #FF6C01;
}

h2{
    color: #0dcaf0;
}

p{
   text-align: left; 
   color: black;
   font-weight: 400;
   /* padding:  10px 0 ; */
}

ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    border: none;
    border-radius: 0.375rem;
    border-color: none;
    height: 2em;
    padding-top: 20px;
    margin: auto;
    
}

ul a{
    text-decoration: none;
    color: #E5E5E5;
    background-color: #0dcaf0;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    font-weight: 450;
    font-size: 15px;
    text-transform: uppercase;
}

ul a:hover{
    color: white;
    background-color: #FF6C01;
    border-radius: 10px;
    padding: 10px;
}

button{
    padding: 5px;
    border: none;
    background-color: #0dcaf0;
    height: 2rem;
}

button a{
   
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    color: whitesmoke;
}
 
.info-index{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5rem;
    margin-top: 5rem ;
    margin-left: 3rem;

}

.row{
    display: flex;
    height: 100vh;
    margin:auto 2rem;
    padding: 5px;
    width: 100%;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(202, 199, 199, 0.37);
    height: 100vh;
    width: 100vw;
}

.skill{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 40px;
}

.skills h1{
    text-align: center;
}

.ui{
    height: 250px;
    width: 250px;
    padding: 5px;
    padding-left: 2.8rem;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0dcaf0 ;
    border-radius: 25%;
}

.ui img{
    margin-bottom:0.9em;
    height: 150px;
    width: 150px;
}

.graphics{
    height: 250px;
    width: 250px;
    padding: 5px;
    padding-left: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #0dcaf0;
    border-radius: 25%;
}

.graphics img{
    margin-bottom:0.5em;
    height: 180px;
    width: 180px;
}

.web{
    height: 250px;
    width: 250px;
    padding: 2px;
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0dcaf0;
    border-radius: 25%;
}

.web img{
    height: 190px;
    width: 200px;
    padding: 0;
}

.skills p{
   
    font-size: 20px;
   text-align: center;
   text-justify: auto;
   margin: auto;
   padding-right: 25px;
   line-height: 20px;
  
}

.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
    width: 40%;
    height: 80px;
    padding: 15px;
    margin-top: 2px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
}

.tools img{
    height: 60px;
    width: 60px;
}

.text{
    font-family: roboto;    
    margin-top: 5rem;
    padding-left: 10px;
    border-left: 2px solid #FF6C01; 
}

.contact{
    display: flex;
    gap: 10em;
padding: 5rem 3rem;
}

.connect{
    padding-top: 3rem;
    font-size: 25px;
    
}

span{
    color: #0dcaf0;
    font-weight: bold;
}

span:hover{
    color: #FF6C01;
}

input{
    background-color: rgba(68, 67, 67, 0.836);
    color: white;
    padding: 3px;
    border: 2px solid #0dcaf0;
    border-radius: 15px;

}

::placeholder{
    color: #E5E5E5;
}

input#first{
    display: inline;
    height: 45px;
    width: 42%;

}

input#second{
    height: 45px;
    width: 85%;
}

input#message{
    width: 85%;
    height: 150px;
    text-align: initial;
}

.first{
    display: flex;
    gap: 3px;
    
}

.second{
    display: flex;
    flex-direction:column;
   
}

.form{
    display: flex;
    float: right;
    margin-right: 3rem;
}

button#contact{
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #0dcaf0;
    border: none;
    color: whitesmoke;
}

.con{
    display: flex;
    gap: 10px;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 15px; 
}

.icons img{
    height: 30px;
    width: 30px;
}

.logo{
   padding: 10px;
   padding-left: 17px;
    border-radius: 10px;
    height: 70px;
    width: 150px;
    
}

.logo img{
    height: 50px;
    width: 100px;
}

}


@media screen and (max-width:834px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: #E5E5E5;
        /* background-image: url(/img/paper-753508_1280.jpg); */
        padding: 1em;
        background-size: 100vh;
        background-position: center;
        font-family:  Roboto;
    }
    
    nav{
        display: flex;
        padding: 10px;
        padding-left: 2.5rem;
        display: flex;
        gap: 40em;
        height: 90px;
    }
    
    .logo img{
        height: 100%;
        width:100%;
    }
    
    .profile img{
        height: 350px;
        border-radius: 20% 2%;
        background-color: #FF6C01;
        margin-left: 5rem;
        margin-top: 3rem;
    }
    
    h1{
        text-align: left;   
        font-size: 40px;
        color: #FF6C01;
    }
    
    h2{
        color: #0dcaf0;
    }
    
    p{
       text-align: left; 
       color: black;
       font-weight: 400;
       padding:  10px 0 ;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style-type: none;
        text-decoration: none;
        border: none;
        border-radius: 0.375rem;
        border-color: none;
        height: 2em;
        padding-top: 20px;
        margin: auto;
        
    }
    
    ul a{
        text-decoration: none;
        color: #E5E5E5;
        background-color: #0dcaf0;
        padding: 5px;
        width: max-content;
        border-radius: 5px;
        font-weight: 450;
        font-size: 15px;
        text-transform: uppercase;
    }
    
    ul a:hover{
        color: white;
        background-color: #FF6C01;
        border-radius: 10px;
        padding: 10px;
    }
    
    button{
        padding: 5px;
        border: none;
        background-color: #0dcaf0;
        height: 2rem;
    }
    
    button a{
       
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        color: whitesmoke;
    }
     
    .info-index{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 5rem;
        margin-top: 5rem ;
        margin-left: 3rem;
    
    }
    
    .row{
        display: flex;
        height: 100vh;
        margin:auto 2rem;
        padding: 5px;
        width: 100%;
    }
    
    .skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(202, 199, 199, 0.37);
        height: 100vh;
        width: 100vw;
    }
    
    .skill{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin: 40px;
    }
    
    .skills h1{
        text-align: center;
    }
    
    .ui{
        height: 250px;
        width: 250px;
        padding: 5px;
        padding-left: 2.8rem;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0dcaf0 ;
        border-radius: 25%;
    }
    
    .ui img{
        margin-bottom:0.9em;
        height: 150px;
        width: 150px;
    }
    
    .graphics{
        height: 250px;
        width: 250px;
        padding: 5px;
        padding-left: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: #0dcaf0;
        border-radius: 25%;
    }
    
    .graphics img{
        margin-bottom:0.5em;
        height: 180px;
        width: 180px;
    }
    
    .web{
        height: 250px;
        width: 250px;
        padding: 2px;
        padding-left: 25px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0dcaf0;
        border-radius: 25%;
    }
    
    .web img{
        height: 190px;
        width: 200px;
        padding: 0;
    }
    
    .skills p{
       
        font-size: 20px;
       text-align: center;
       text-justify: auto;
       margin: auto;
       padding-right: 25px;
       line-height: 20px;
      
    }
    
    .tools{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00000050;
        width: 40%;
        height: 80px;
        padding: 15px;
        margin-top: 2px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        gap: 2rem;
    }
    
    .tools img{
        height: 60px;
        width: 60px;
    }
    
    .text{
        font-family: roboto;    
        margin-top: 5rem;
        padding-left: 10px;
        border-left: 2px solid #FF6C01; 
    }
    
    .contact{
        display: flex;
        gap: 10em;
    padding: 5rem 3rem;
    }
    
    .connect{
        padding-top: 3rem;
        font-size: 25px;
        
    }
    
    span{
        color: #0dcaf0;
        font-weight: bold;
    }
    
    span:hover{
        color: #FF6C01;
    }
    
    input{
        background-color: rgba(68, 67, 67, 0.836);
        color: white;
        padding: 3px;
        border: 2px solid #0dcaf0;
        border-radius: 15px;
    
    }
    
    ::placeholder{
        color: #E5E5E5;
    }
    
    input#first{
        display: inline;
        height: 45px;
        width: 42%;
    
    }
    
    input#second{
        height: 45px;
        width: 85%;
    }
    
    input#message{
        width: 85%;
        height: 150px;
        text-align: initial;
    }
    
    .first{
        display: flex;
        gap: 3px;
        
    }
    
    .second{
        display: flex;
        flex-direction:column;
       
    }
    
    .form{
        display: flex;
        float: right;
        margin-right: 3rem;
    }
    
    button#contact{
        margin-top: 10px;
        padding: 10px;
        border-radius: 20px;
        background-color: #0dcaf0;
        border: none;
        color: whitesmoke;
    }
    
    .con{
        display: flex;
        gap: 10px;
    }
    
    .icons{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .info{
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 15px; 
    }
    
    .icons img{
        height: 30px;
        width: 30px;
    }
    
    .logo{
       padding: 10px;
       padding-left: 17px;
        border-radius: 10px;
        height: 70px;
        width: 150px;
        
    }
    
    .logo img{
        height: 50px;
        width: 100px;
    }
    
}

@media screen and (max-width:1440px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: #E5E5E5;
        /* background-image: url(/img/paper-753508_1280.jpg); */
        padding: 1em;
        background-size: 100vh;
        background-position: center;
        font-family:  Roboto;
    }
    
    nav{
        display: flex;
        padding: 10px;
        padding-left: 2.5rem;
        display: flex;
        gap: 40em;
        height: 90px;
    }
    
    .logo img{
        height: 100%;
        width:100%;
    }
    
    .profile img{
        height: 350px;
        border-radius: 20% 2%;
        background-color: #FF6C01;
        margin-left: 5rem;
        margin-top: 3rem;
    }
    
    h1{
        text-align: left;   
        font-size: 40px;
        color: #FF6C01;
    }
    
    h2{
        color: #0dcaf0;
    }
    
    p{
       text-align: left; 
       color: black;
       font-weight: 400;
       padding:  10px 0 ;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style-type: none;
        text-decoration: none;
        border: none;
        border-radius: 0.375rem;
        border-color: none;
        height: 2em;
        padding-top: 20px;
        margin: auto;
        
    }
    
    ul a{
        text-decoration: none;
        color: #E5E5E5;
        background-color: #0dcaf0;
        padding: 5px;
        width: max-content;
        border-radius: 5px;
        font-weight: 450;
        font-size: 15px;
        text-transform: uppercase;
    }
    
    ul a:hover{
        color: white;
        background-color: #FF6C01;
        border-radius: 10px;
        padding: 10px;
    }
    
    button{
        padding: 5px;
        border: none;
        background-color: #0dcaf0;
        height: 2rem;
    }
    
    button a{
       
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        color: whitesmoke;
    }
     
    .info-index{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 5rem;
        margin-top: 5rem ;
        margin-left: 3rem;
    
    }
    
    .row{
        display: flex;
        height: 100vh;
        margin:auto 2rem;
        padding: 5px;
        width: 100%;
    }
    
    .skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(202, 199, 199, 0.37);
        height: 100vh;
        width: 100vw;
    }
    
    .skill{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin: 40px;
    }
    
    .skills h1{
        text-align: center;
    }
    
    .ui{
        height: 250px;
        width: 250px;
        padding: 5px;
        padding-left: 2.8rem;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0dcaf0 ;
        border-radius: 25%;
    }
    
    .ui img{
        margin-bottom:0.9em;
        height: 150px;
        width: 150px;
    }
    
    .graphics{
        height: 250px;
        width: 250px;
        padding: 5px;
        padding-left: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: #0dcaf0;
        border-radius: 25%;
    }
    
    .graphics img{
        margin-bottom:0.5em;
        height: 180px;
        width: 180px;
    }
    
    .web{
        height: 250px;
        width: 250px;
        padding: 2px;
        padding-left: 25px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0dcaf0;
        border-radius: 25%;
    }
    
    .web img{
        height: 190px;
        width: 200px;
        padding: 0;
    }
    
    .skills p{
       
        font-size: 20px;
       text-align: center;
       text-justify: auto;
       margin: auto;
       padding-right: 25px;
       line-height: 20px;
      
    }
    
    .tools{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00000050;
        width: 40%;
        height: 80px;
        padding: 15px;
        margin-top: 2px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        gap: 2rem;
    }
    
    .tools img{
        height: 60px;
        width: 60px;
    }
    
    .text{
        font-family: roboto;    
        margin-top: 5rem;
        padding-left: 10px;
        border-left: 2px solid #FF6C01; 
    }
    
    .contact{
        display: flex;
        gap: 10em;
    padding: 5rem 3rem;
    }
    
    .connect{
        padding-top: 3rem;
        font-size: 25px;
        
    }
    
    span{
        color: #0dcaf0;
        font-weight: bold;
    }
    
    span:hover{
        color: #FF6C01;
    }
    
    input{
        background-color: rgba(68, 67, 67, 0.836);
        color: white;
        padding: 3px;
        border: 2px solid #0dcaf0;
        border-radius: 15px;
    
    }
    
    ::placeholder{
        color: #E5E5E5;
    }
    
    input#first{
        display: inline;
        height: 45px;
        width: 42%;
    
    }
    
    input#second{
        height: 45px;
        width: 85%;
    }
    
    input#message{
        width: 85%;
        height: 150px;
        text-align: initial;
    }
    
    .first{
        display: flex;
        gap: 3px;
        
    }
    
    .second{
        display: flex;
        flex-direction:column;
       
    }
    
    .form{
        display: flex;
        float: right;
        margin-right: 3rem;
    }
    
    button#contact{
        margin-top: 10px;
        padding: 10px;
        border-radius: 20px;
        background-color: #0dcaf0;
        border: none;
        color: whitesmoke;
    }
    
    .con{
        display: flex;
        gap: 10px;
    }
    
    .icons{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .info{
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 15px; 
    }
    
    .icons img{
        height: 30px;
        width: 30px;
    }
    
    .logo{
       padding: 10px;
       padding-left: 17px;
        border-radius: 10px;
        height: 70px;
        width: 150px;
        
    }
    
    .logo img{
        height: 50px;
        width: 100px;
    }
    
}